.conatiner {
  width: 1200px;
  margin: 30px auto;
  text-align: center;
}

.background_heading h1{
  font-size: 80px;
  font-family: var(--secondary-font);
  opacity: .10;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--primary-color);
}

.heading {
  margin-top: -50px;
}